 body {
     /*     background-color: #f6f6f6;
*/
 }
 
 #container {
     width: 1200px;
     margin: 0 auto;
     /*	background-color: lightyellow;
	border:1px dashed lightblue;*/
 }
 /*
	A scene container class takes up 100% of the viewport (window) height
	and resize automatically. Everything belonging to a scene, including the scene
	itself, goes in here.
*/
 
 .scene-container {
     height: 100vh;
     /* background-color: pink;*/
     border: 3px solid lightblue;
 }
 /*
	Each scene is vertically centered and adjusts based on its contents height.
*/
 
 .scene {
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }
 /* 
 	Each scene has multiple panels.
 */
 
 .panel {
     padding: 10px;
     background-color: white;
     border-radius: 5px;
     position: relative;
 }
 /* Scenes */
 /* Scene 0 */
 
 #scene-0 {}
 
 #oreo-0 {
     width: 60%;
     height: 60%;
     margin: 0 auto;
 }
 /* Scene 1 */
 
 #scene-1 {}
 
 #background-1 {
     width: 100%;
     height: 100%;
 }
 /* Scene 1-1 */
 
 #scene-1-1 {}
 
 #background-1-1 {
     width: 100%;
     height: 100%;
 }
 
 #balloon {
     position: absolute;
     top: 100px;
     left: 100px;
     width: 600px;
     height: 650px;
 }
 /* Scene 2 */
 
 #scene-2 {}
 
 #background-2 {
     width: 100%;
     height: 100%;
 }
 
 #oreo-1 {
     position: absolute;
     top: -100px;
     left: 100px;
     width: 450px;
     height: 450px;
 }
 
 #panel-2-1 {
     height: 800px;
 }
 /* Scene 3 */
 
 #scene-3 {}
 
 #background-3 {
     width: 100%;
     height: 100%;
 }
 /* Scene 4 */
 
 #scene-4 {}
 
 #panel-4-1 #canvas1 {
     width: 100%;
     height: 100%;
     background-image: url('../images/4.jpg');
     background-size: cover;
 }
 /* Scene 5 */
 
 #scene-5 {}
 
 #background-5 {
     width: 100%;
     height: 100%;
 }
 
 #scene-6 {}
 
 #background-6 {
     width: 100%;
     height: 100%;
 }
 
 #scene-7 {}
 
 #background-7 {
     width: 100%;
     height: 100%;
 }
 
 #scene-8 #panel-8-1 {}
 
 #background-8-1 {
     width: 100%;
     height: 100%;
 }
 
 #panel-8-2 {}
 
 #background-8-2 {
     width: 100%;
     height: 100%;
 }
 
 #scene-9 {}
 
 #panel-9-1 {
     height: 800px;
 }
 
 #background-9 {
     width: 100%;
     height: 100%;
 }
